@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] body {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

[data-theme="light"] body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
